<!-- <hr class="hr-top">  -->

<!-- <div class="wrap"> -->
    
    <a href="" class="aha">Ukryj menu</a>
    <div id="inner-wrap">

<!-- *****************   header nav   ********************** -->        
        <header class="header group" role="banner">
            
            
            <!-- <div class="header-inner"> -->
            
                <div id="top" class="logo-wrapper" >
                        <h1 class="logo">
                            <a class="scroll" href="#section-info"><img src="/images/logo3.svg" alt=""></a>
                        </h1>
                        <a class="btn-nav btn-open" id="nav-open-btn" href="#nav"></a>
                </div>

                <nav id="nav" class="nav" role="navigation">
                    <div class="nav-inner">
                        <ul>
                            <li>
                                <a href="#section-services">Czym się zajmuję</a>
                            </li>
                         	<li>
                                <a href="#section-help">Komu mogę pomóc</a>
                            </li>
                         	<li>   <!-- <li class="is-active"> -->
                                <a href="#section-clients">Z kim współpracowałam</a> 
                            </li>
                         	<li>
                                <a href="#section-process">Jak pracuję</a>
                            </li>
                         	<li>
                                <a href="#section-contact">Kontakt</a>
                            </li>
                            <li class="blog-link">
                                <a href="">Blog</a>
                            </li>
                        </ul>
                        
                        <a class="btn-nav btn-close" id="nav-close-btn" href="#top">Return to Content</a>
                    </div>    
                </nav>
<!-- </div>  -->

            <div class="contact-info">
                <div class="contact-info-inner">
                    <p>Milena Leszczyńska-Sowirka</p>
                    <ul class="contact-info-list">
                        <!-- <li><a class="tel" href="tel:555555555">tel. 555-555-555</a></li> -->
                        <li><a href=""><img src="http://placehold.it/30x30" alt=""></a></li>
                        <li><a href=""><img src="http://placehold.it/30x30" alt=""></a></li>
                    </ul>
                </div>
            </div>
        <!-- </div> -->
        </header>

<!-- *****************   content   ********************** -->
        <div class="content">
        	 <%= partial 'partials/components/01-info-section' %>
             <%= partial 'partials/components/02-education-section' %>
             <%= partial 'partials/components/03-services-section' %>
             <%= partial 'partials/components/04-help-section' %>
             <%= partial 'partials/components/03-services-section' %>
        </div>
<!-- *****************   end of content    **************** -->    

    </div> <!-- inner-wrap -->
<!-- <hr class="hr-bottom">  -->
<!-- </div> -->